@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<SzemelyiEdzokSzemelyiEdzok.Models.SzemelyiEdzo>>
@using SzemelyiEdzokSzemelyiEdzok.Services
@using SzemelyiEdzokSzemelyiEdzok.Models
@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers

@{
    var edzok = ViewBag.Edzok as SzemelyiEdzo[];
}

<h2>Személyi edzők</h2>
@foreach(SzemelyiEdzo edzo in edzok)
    {
        <div>
            Név: @edzo.Nev
        </div>
    }
